CELERY_TASKS:
  application_name: 'workflow-harqis'
  broker: 'amqp://guest:guest@localhost:5672/'

HARQIS_GPT:
  client: 'rest'
  parameters:
    base_url: 'https://api.openai.com/v1'
    response_encoding: 'utf-8'
    verify: True
    timeout: 60
    stream: True
  app_data:
    api_key: ${OPENAI_API_KEY}
    model: 'davinci-002'
    max_tokens: 1000
    default_assistant_id: ${OPENAI_ASSISTANT_ID}

ELASTIC_LOGGING:
  app_id: 'elasticsearch'
  client: 'rest'
  parameters:
    url: http://localhost:9200
  app_data:
    update_interval: "DAILY"
    api_key: ${ELASTIC_API_KEY}
    username: ${ELASTIC_USER}
    password: ${ELASTIC_PASSWORD}
    use_basic_auth: False
    auth_type: basic