from core.web.services.core.json import JsonObject


class {{classes.name}}(JsonObject):
    """
    Model for {{classes.name}}
    """
    {{#classes.properties}}
    {{name}}: {{type}} = {{{example}}}
    {{/classes.properties}}
