from core.web.services.core.constants.http_methods import HttpMethod
from {{imports.path}}.base_service import BaseServiceApp

{{#imports.models.items}}
from {{imports.models.path}}.{{name}} import {{class_name}}
{{/imports.models.items}}


class Service{{classes.name}}(BaseServiceApp):

    def __init__(self, config, **kwargs):
        super(Service{{classes.name}}, self).__init__(config, **kwargs)
        self.request.add_uri_parameter('{{classes.uri}}')

    {{#classes.functions}}
    def {{operation_id}}(self{{#parameters}}, {{name}}: {{schema.type}}{{^required}}=None{{/required}}{{/parameters}}{{#hasPayload}}, payload: {{payloadSchema}}{{/hasPayload}}):
        """{{description}}"""
        self.request.set_method(HttpMethod.{{method}})\
        {{#parameters}}
            {{#inPath}}
            .add_uri_parameter({{name}})\
            {{/inPath}}
            {{#inQuery}}
            .add_query_string('{{name}}', {{name}})\
            {{/inQuery}}
            {{#inQueryObject}}
            .add_query_object({{name}})\
            {{/inQueryObject}}
        {{/parameters}}
        {{#hasPayload}}
            .add_json_body(payload)\
        {{/hasPayload}}

        return self.client.execute_request(self.request.build(){{#hasResponseHook}}, response_hook={{response_hook}}{{/hasResponseHook}})

    {{/classes.functions}}
