from core.web.services.core.constants.http_methods import HttpMethod
from {{base_module_path_services}}.base_service import BaseServiceApp

{{#models}}
from {{base_module_path_models}}.{{model_name}} import {{model_class_name}}
{{/models}}


class Service{{resource}}(BaseServiceApp):

    def __init__(self, config, **kwargs):
        super(Service{{resource}}, self).__init__(config, **kwargs)
        self.request.add_uri_parameter('{{resource}}')

    {{#operations}}
    def {{operation_id}}(self{{#parameters}}, {{name}}{{^required}}=None{{/required}}{{/parameters}}{{#hasPayload}}, payload{{/hasPayload}}):
        """{{description}}"""
        self.request.set_method(HttpMethod.{{method}})\
        {{#parameters}}
            {{#inPath}}
            .add_uri_parameter('{{name}}', {{name}})\
            {{/inPath}}
            {{#inQuery}}
            .add_query_parameter('{{name}}', {{name}})\
            {{/inQuery}}
        {{/parameters}}
        {{#hasPayload}}
            .add_json_body(payload)\
        {{/hasPayload}}

        return self.client.execute_request(self.request.build(){{#hasResponseHook}}, response_hook={{response_hook}}{{/hasResponseHook}})

    {{/operations}}
